*{
    margin: 0;
    padding: 0;
    color: white;
}
.banner {
    background: url(img/bg-banner-home5.png) center center no-repeat;
    background-color: #0E0A31;
    max-width: 100%;
    height: 800px;
    background-position: bottom center;
}
.container {
    padding-top: 180px;
}
.heading.col-md-6 {
    margin-left: -28px;
    padding-right: 20px;
}
.image.col-md-6 {
    position: absolute;
    margin-left: 580px;
    margin-top: -45px;
}
h1 {
    font-family: "Nunito Sans", Sans-serif;
    font-size: 70px;
    font-weight: 900;
    line-height: 80px;
    display: inline;
    margin-right: 40px;
}
p {
    padding-top: 20px;
    font-size: 18px;
    line-height: 30px;
}
span {
    font-size: 24px;
    font-weight: 400;
}
.video *{
    display:inline;
}
.video {
    margin-top: 70px;
}
.video p{
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14.5px;
    font-family: "Montserrat", sans-serif;
}
i {
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #1AB7EA;
    text-align: center;
}
a.button:hover {
    background-color: #1AB7EA;
}
a.button {
    background-color: white;
    border-radius: 100%;
    padding: 20px;
}

body div.banner div.panel *{
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 700;
}
/* Panel thứ 1 */
body div.panel .first-panel {
    /* background:linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%) : Nền trong */
    /* background: linear-gradient(left, #191970, #483D8B, #663399); */
    background-image: linear-gradient(110deg, #2B236E 0%, #7141B1 100%);
    box-shadow: 15px 15px 38px 0px rgb(0 0 0 / 20%);
    padding: 30px 130px 0px 43px;
    margin-left: -20px;
    margin-top: -15px;
}
body div.panel .first-panel a.first-content {
    text-decoration: none;
    color: white;
}
body div.panel .first-panel  {
    position:absolute;
}
body div.panel .first-panel div span img{
    height: 40px;
    width: auto;
    margin-top: -160px;
    margin-left: 270px;
    margin-right: -300px;
}

/* Panel thứ 2 */
body div.panel .second-panel a.second-content{
    background-image: linear-gradient(110deg, #7141B1 0%, #00FFFF 100%);
    box-shadow: 15px 15px 38px 0px rgb(0 0 0 / 20%);
    padding: 30px 165px 0px 46px;
    margin-top: -15px;
    margin-left: 390px;
}
body div.panel .second-panel a.second-content {
    color: white;
    text-decoration: none;
}
body div.panel .second-panel a.second-content{
    position:absolute;
}
body div.panel .second-panel span img {
    height: 40px;
    width: auto;
    margin-top: -160px;
    margin-left: 245px;
    margin-right: -300px;
}
/* Panel thứ 3 */
body div.panel .third-panel a.third-content{
    background-image: linear-gradient(110deg, #00FFFF 0%, #00BFFF 100%);
    box-shadow: 15px 15px 38px 0px rgb(0 0 0 / 20%);
    padding: 34px 125px 34px 46px;
    margin-top: -15px;
    margin-left: 780px;
}
body div.panel .third-panel a.third-content{  
    text-decoration: none;
    color: white;
}
body div.panel .third-panel a.third-content{
    position: absolute;
}
body div.panel .third-panel span img{
    height: 40px;
    width: auto;
    margin-top: -100px;
    margin-left: 100px;
    margin-right: -300px;
}


